{{ define "title"}} {{ .Site.Title}} {{end}}
{{ define "header"}} {{ partial "header" .}} {{end}}
{{ define "main"}}

<div id="main">
  <div id="hero">
    <h1>{{.Title}}</h1>
    <p>{{.Description}}</p>
  </div>
  <p>
    When your Python Web application grows larger, at some point you will have to incorporate background job processing.
    This usually means setting up additional infrastructure: A task queue like Celery, backed by a queue server like RabbitMQ, result storage, additional monitoring, etc.
  </p>
  <p>
    If you don't want to waste your time and money with these troublesome things, we've got you covered!
    We run all of these things for you so you can focus on building your product, not building infrastructure.
  </p>
  <div id="kube-features">
    <div class="row gutters">
      <div class="col col-4 item">
        <figure>
          <img alt="Baseline" src="{{ "/img/cloud.svg" | relURL }}" style="height: 70px">
        </figure>
        <h3>Fully managed Celery</h3>
        <p>Run your background jobs on our fully managed, high-performance Celery cluster. No infrastructure setup, no server configuration, no monitoring. Get started in a matter of seconds with our zero-configuration Celery Hosting.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Typography" src="{{ "/img/chart-line.svg" | relURL }}" style="height: 70px">
        </figure>
        <h3>Infinitely scalable</h3>
        <p>Maximum concurrency with unlimited number of parallel backgrounds jobs. The number of Celery workers running for your application is scaled automatically according to current demand.</p>
      </div>
      <div class="col col-4 item">
        <figure>
          <img alt="Minimalism" src="{{ "/img/heart.svg" | relURL }}" style="height: 70px">
        </figure>
        <h3>Your favorite framework</h3>
        <p>Celery Cloud Hosting works with any Python application, and has special support for popular Web frameworks like Django and Flask.</p>
      </div>
    </div>
  </div>
  <div class="form-subscribe">
    <h4>Request Beta Access</h4>
    <p>Celery Cloud Hosting is currently in private Beta. Request access to our limited free Beta program.</p>
    <form action="https://celeryq.us12.list-manage.com/subscribe/post?u=5ae20f8ed6db825fb44b7f656&amp;id=9881041ffd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="form" target="_blank" novalidate>
      <div class="form-item">
        <div class="append">
          <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="jane@example.com" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_5ae20f8ed6db825fb44b7f656_9881041ffd" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Request Beta Access" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
        </div>
      </div>
    </form>
  </div>
</div>
{{ end }}
{{ define "footer"}} {{ partial "footer" .}} {{end}}
